*{ font-family: helvetica }

body{
  background-color: hsl(60, 85%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f47f", endColorstr="#f4f47f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f47f), to(#f4f47f));
  background-image: -moz-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -ms-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f47f), color-stop(100%, #f4f47f));
  background-image: -webkit-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -o-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: linear-gradient(#f4f47f, #f4f47f);
  border-color: #f4f47f #f4f47f hsl(60, 85%, 73%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

ul, ol { list-style-type: none; }

.btn {
  background-color: hsl(9, 80%, 48%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc3518", endColorstr="#dc3518");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dc3518), to(#dc3518));
  background-image: -moz-linear-gradient(top, #dc3518, #dc3518);
  background-image: -ms-linear-gradient(top, #dc3518, #dc3518);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc3518), color-stop(100%, #dc3518));
  background-image: -webkit-linear-gradient(top, #dc3518, #dc3518);
  background-image: -o-linear-gradient(top, #dc3518, #dc3518);
  background-image: linear-gradient(#dc3518, #dc3518);
  border-color: #dc3518 #dc3518 hsl(9, 80%, 48%);
  color: #fff !important;
  border-radius: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.ui-accordion-header {
  background-color: hsl(142, 80%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12a548", endColorstr="#12a548");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#12a548), to(#12a548));
  background-image: -moz-linear-gradient(top, #12a548, #12a548);
  background-image: -ms-linear-gradient(top, #12a548, #12a548);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #12a548), color-stop(100%, #12a548));
  background-image: -webkit-linear-gradient(top, #12a548, #12a548);
  background-image: -o-linear-gradient(top, #12a548, #12a548);
  background-image: linear-gradient(#12a548, #12a548);
  border-radius: 0;
  border-color: #12a548 #12a548 hsl(142, 80%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.modal-content {
  background-color: hsl(60, 85%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f47f", endColorstr="#f4f47f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f47f), to(#f4f47f));
  background-image: -moz-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -ms-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f47f), color-stop(100%, #f4f47f));
  background-image: -webkit-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -o-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: linear-gradient(#f4f47f, #f4f47f);
  border-radius: 0;
  border-color: #f4f47f #f4f47f hsl(60, 85%, 73%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.ui-widget-header {
  background-color: hsl(60, 85%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f47f", endColorstr="#f4f47f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f47f), to(#f4f47f));
  background-image: -moz-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -ms-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f47f), color-stop(100%, #f4f47f));
  background-image: -webkit-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: -o-linear-gradient(top, #f4f47f, #f4f47f);
  background-image: linear-gradient(#f4f47f, #f4f47f);
  border-color: #f4f47f #f4f47f hsl(60, 85%, 73%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.ui-accordion-content {
  background-color: hsl(127, 52%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b9e8be", endColorstr="#b9e8be");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b9e8be), to(#b9e8be));
  background-image: -moz-linear-gradient(top, #b9e8be, #b9e8be);
  background-image: -ms-linear-gradient(top, #b9e8be, #b9e8be);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9e8be), color-stop(100%, #b9e8be));
  background-image: -webkit-linear-gradient(top, #b9e8be, #b9e8be);
  background-image: -o-linear-gradient(top, #b9e8be, #b9e8be);
  background-image: linear-gradient(#b9e8be, #b9e8be);
  border-color: #b9e8be #b9e8be hsl(127, 52%, 82%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

.food-pic {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

.plate {
  background-color: transparent;
  border: none;
}

.plate-info {
  display: none;
  border: 1px solid #000;
  background-color: #fff;
}

.calorie-total { font-weight: bold; }

.logo { margin: -7px;  }

.modal-header { border-bottom: none; }

.modal-footer { border-top: none; }
